*{
    box-sizing: border-box;
}

/* Text styling */
p {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

h3 {
    font-family: 'Rubik', sans-serif;
}

nav a {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

h1 {
    font-family: 'Turret Road', cursive;
    font-size: 30px;
}

h5 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}
/* slut text styling */
/* hem */
.hemcontainer{
    display: grid;
    max-width: auto;
    max-height: auto;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav"
    "titel"
    "tjänster"
    "footer";
}

.hemheader {
    height: 400px;
    width: 100%;
    background-image: url(../images/bakgrund.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.hemheadertext {
    color: white;
}

.hemtjanster {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 20% 5% 20%;
}

/* slut hem */
/* tjänster */

.tjanstercontainer{
    display: grid;
    max-width: auto;
    max-height: auto;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nav"
    "info"
    "footer";
}

.infotext {
    display: flex;
    flex-direction: column;
    padding: 0% 20% 0% 20%;
    grid-area: info;
}

.kontaktcontainer {
    display: flex;
    flex-direction: column;
    padding: 5% 20% 5% 20%;
}

.telefonbild {
    height: 30px;
    width: 30px;
    background-image: url(../images/telefon.png);
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    right: 50px;
    border-radius: 5%;
}

.mailbild {
    height: 35px;
    width: 35px;
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    right: 50px;
}

.linkedinbild {
    height: 30px;
    width: 30px;
    background-image: url(../images/linkedin.png);
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    right: 50px;
    border-radius: 5%;
}

/*slut tjänster */
/* ommig */

.ommigcontainer {
    /* display: grid; */
    max-width: auto;
    max-height: auto;
/*     grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "nav"
    "profilbild"
    "omheader"
    "omtext"
    "footer"; */
}

.profilbild {
    height: 200px;
    width: 200px;
    background-image: url(../images/profil.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

}

.omheader {
    grid-area: omheader;
    text-align: center;
    padding: 0% 20% 0% 20%;

}

.omtext {
    display: flex;
    flex-direction: column;
    padding: 0% 20% 5% 20%;
    grid-area: omtext;
}

/* slut ommig */
/* för header och footer */

.nav {
    display: Flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    align-items: center;
    grid-area: nav;
    margin: 0;
    padding: 0;
    border-radius: 0.2rem;
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;
}

a:hover {
    color: gray;
}

h2 {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background: black;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 0.2rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

/* SLUT för header och footer */

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 26px;
    }
    .nav a {
        font-size: 18px;
    }   
    
  }